body {
  max-width: 480px;
}

form {
  display: grid;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0;
  list-style: none;
  font-size: .9rem;

  li {
    margin: 0;
  }

  img {
    height: 1.5em;
    margin: 0;
  }
}
